* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

html,
body {
    font-family: 'Poppins', sans-serif;
}

button {
    color: #FFF !important;
}

button.primary {
    background: #2A3132;
}

button.secondary {
    background: #336B87;
}