.section-auth {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.section-auth .container .card {
    box-shadow: 1px 1px 1px #DDD;
    border: 1px solid #DDD;
    border-radius: .25rem;
    padding: 2rem;
}

.section-auth .btn-wrapper {
    margin-top: 1rem;
}